.about-container {
    padding: 32px;
    display: flex;
    flex-direction: row;
}

.about-wrapper {
    max-width: 33.3%;
    display: flex;
    flex-direction: column;
    background-color: #B5B079;
    height: 400px;
    line-height: 2;
}

.about-wrapper span {
   align-self: center;
   font-size: 24px;
   margin-bottom: 16px;
   overflow: hidden;
}

.about-wrapper p {
   font-size: 16px;
   padding: 0 16px;
}

.about-second-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ACAA9D;
    height: 400px;
    line-height: 1.5;
}

.about-second-wrapper span {
    align-self: center;
    font-size: 24px;
    margin-bottom: 16px;
    overflow: hidden;
}

.about-item-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
}

.about-item {
    flex: 0 0 calc(100% - 60%);
    padding: 16px;
    font-size: 16px;
    line-height: 2;
}

@media screen and (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }

    .about-wrapper p {
        font-size: 12px;
        padding: 0 12px;
    }
    
    .about-wrapper {
        max-width: 100%;
    }
    
    .about-item {
        flex: 0 0 calc(100% - 10%);
        font-size: 12px;
    }
}